workflows/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\Users\\atout\\.n8n-files\\aws-overview.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        256
      ],
      "id": "7d1d932c-6418-4e6e-bed1-870623743956",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        288
      ],
      "id": "6afd4028-bae8-4b69-ac29-d8553fc6120d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "OdHr4AnvgnzxNA4X",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        384,
        512
      ],
      "id": "850543e1-779c-4f26-9e7e-c66e98c34dab",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        512
      ],
      "id": "6f85ea9f-2bc1-4ab4-9fb5-ec0155947790",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wOxKMLjfb9jVbJA6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        256
      ],
      "id": "8c0edb21-f7a7-4b59-bd4a-47d94a9e688f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -80
      ],
      "id": "0dc6f845-b240-4408-8bfb-9c0b75f76b9d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        96
      ],
      "id": "0409ab57-cc7a-4a37-a7cf-45e462c04482",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wOxKMLjfb9jVbJA6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Calling this tool to look through AWS docs",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        80
      ],
      "id": "767f4874-0fae-41c9-86f9-c69f302390bb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "OdHr4AnvgnzxNA4X",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        128
      ],
      "id": "98d96ea7-b28f-40fc-bc7a-9ffffc7771e5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "V1LgOrJ20FWDDhae",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "53fefdc8-14cd-4114-9379-e3cc21e2be74",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -112
      ],
      "id": "4c1ff826-f63c-4616-9a95-d26482c08ca2",
      "name": "Webhook",
      "webhookId": "53fefdc8-14cd-4114-9379-e3cc21e2be74"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "827a2cef-f1a4-4a37-89b0-2935adc2d481",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "250965bf79f968e1303b7ccc27c3a269b0d8730d3fe2cb27397f6ef4f6297b05"
  },
  "id": "ardcF6QI6Kra9wDD",
  "tags": []
}